#main-nav {
    background-color: rgba(0, 0, 0, 0);
    
}
.navbar-default{
    font-family: 'Montserrat', sans-serif;
    
    
}
.navbar-brand{
    font-family: 'Droid Serif', serif;
    font-size: 2em;
}
#main-nav  a{
   color: white; 
}

#main-header {
/*    przyciemnianie*/
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../img/header/pictures_on_the_wall.jpg);
    background-size: cover;
    height: 80vh;
    position: relative;
}
h1{
    font-family: 'Droid Serif', serif;
    font-size: 2em;
}
div.header-caption h2#lorem{
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
}


#main-header .header-caption {
    position: absolute;
    color: white;
    text-align: center;
    left: 0%;
    right: 0%;
    transform: translateY(-50%);
    top: 50%;
}

#main-header .header-caption h2 {
    font-size: 2em;
    font-weight: 200;
}
button.btn-info{
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    height:70px;
    width:200px;
    
}
section#services{
    text-align: center;
    margin: 0;
    background-color: #f7f7f7;
}
h2#usługi, h2#prace{
    color:#333;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    text-align: center;
       
}
h3{
    padding: 10px;
    padding-bottom: 20px;
    font-size:1em;
    text-align: center;
    font-family: 'Droid Serif', serif;
    color: #333;
    
}
#services .fa{
    font-size: 3em;
    height: 80px;
    width: 80px;
    line-height: 80px;
    border: 1px solid #0ed8d6;
    border-radius: 50%;
    color:#fff;
    background-color:  #0ed8d6;
    transition: all .3s;
}
#services .fa:hover{
    color:  #0ed8d6;
    background-color: #fff;
    transform: rotate(360deg);
    
}
#portfolio{
    text-align: center;
    padding-top: 80px;
}
img{
    
}
